alias k=kubectl
alias ec='emacsclient -n'
alias e='emacs -nw'
{{- if eq .chezmoi.os "linux" }}
alias open=xdg-open
{{- end }}
gfmt() {
    goimports -w $(find . -path ./vendor -prune -o -name '*.go' -print)
}
# cheeky trick to make watch work with other aliases, weird expansions, and so on
alias watch='watch '
# make ssh work always
alias ssh='TERM=xterm-color ssh'
