[Desktop Entry]
Name=SetKeyboardDelay
Type=Application
Terminal=true
Comment=Set the keyboard repeat rate and delay
Exec=gsettings set org.gnome.desktop.peripherals.keyboard delay 225

[Desktop Entry]
Name=SetKeyboardRepeat
Type=Application
Terminal=true
Comment=Set the keyboard repeat rate and delay
Exec=gsettings set org.gnome.desktop.peripherals.keyboard repeat-interval 30
